{% extends 'groupify/base.html'%}
{% load crispy_forms_tags%}
{% block content %}

<section id="group-detail">


    <div class="container">
        <div class="sidebar border border-dark">

            <h4 class="text-center">Your Groups</h4>
            <hr>
            <ul>
                {% for user_group in user_groups %}
                <li>
                    <a href="{% url 'group_detail' user_group.id %}">
                        <h5>{{user_group}}</h5>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <h4 class="text-center">If you have any comments</h4>
            <hr>
            <div class="">
                <form method="POST" action="{% url 'add_post' group.id%}">
                    {% csrf_token %}
                    <div class="col">
                        <div class="">
                            {{ comment_form|crispy }}
                            <button href="" class="btn btn-info " type="submit">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <hr>
            <div class="text-center">
                <form method="get" action="{% url 'home'%}">
                    <button type="submit" class="btn btn-dark">Go back to Home page</button>
                </form>
            </div>


        </div>
        <div class="main content-section">

            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid" src={{group.group_profile.url}} />
                </div>
                <div>
                    <h2>{{group.name}}</h2>
                    <button class="btn btn-info" onclick="myFunction()">Create Post</button>
                    <a href="{% url 'leave' group.id %}" class="btn btn-danger">Leave Group</a>
                </div>


            </div>
            <br>
            <hr>
            <div id="formtag" style="display:none">
                <form method="POST" action="{% url 'add_post' group.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form|crispy }}
                    <div class="form-group">
                        <button href="" class="btn btn-outline-info" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            <br><br>
            {% for post in posts %}
            {% if post.description %}
            <div class="card">
                <a href="{% url 'profile_detail' post.profile.id %}">
                    <div class="card-header m-0 p-0">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <b>
                                        <h5 class="text-center">{{post.title}}</h5>
                                    </b>

                                </div>
                                <div class="col-4">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <img src={{post.profile.user_profile.url}} alt="" class="rounded-circle"
                                                height="40" width="40">
                                            <p>{{post.profile.user.username}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card-body" style="background-color: rgb(230, 230, 230);">

                    <div class="row">
                        <div class="col-md-5">
                            {{post.description}}
                            {% if post.user_file %}
                            <a class="btn btn-info" href={{post.user_file.url}}
                                target="_blank">{{post.user_file|cut:'documents/'}}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            {% if post.picture %}
                            <img src={{post.picture.url}} alt="" style="height:300px; width:300px">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <a href="{% url 'profile_detail' post.profile.id %}">
                    <div class="card-header m-0 p-0">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <b>
                                        <h5 class="text-center">Comment</h5>
                                    </b>

                                </div>
                                <div class="col-4">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <img src={{post.profile.user_profile.url}} alt="" class="rounded-circle"
                                                height="40" width="40">
                                            <p>{{post.profile.user.username}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card-body" style="background-color: rgb(230, 230, 230);">
                    <div class="col-8">
                        <b>
                            <h5 class="text-center">{{post.title}}</h5>
                        </b>

                    </div>
                </div>
            </div>

            {%endif%}

            <br><br>
            <hr>
            {% endfor %}



        </div>
    </div>
</section>
<script>
    function myFunction() {
        var x = document.getElementById("formtag");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>


{% endblock content %}